services:
  - type: web
    name: ecommerce-backend
    runtime: python
    plan: free
    
    buildCommand: pip install -r requirements.txt
  
    startCommand: |
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      gunicorn ecommerce_backend.wsgi:application

    envVars:
      - key: SECRET_KEY
        sync: false

      - key: DEBUG
        value: "False"

      - key: DATABASE_URL
        sync: false

      - key: CLOUDINARY_CLOUD_NAME
        sync: false

      - key: CLOUDINARY_API_KEY
        sync: false

      - key: CLOUDINARY_API_SECRET
        sync: false

